*{
  bg1: #282828;                     /* Gruvbox material bg1 */
  fg: #DDC7A1;                      /* light neutral text */
  sel: #333E34;                      /* bg_visual_green */
  acc: #89B482;                     /* green */
  higl: #E78A4E;
  background-color: transparent;
  border-radius: 8;
  font: "JetBrainsMono Nerd Font 13";
}

window {
  location: center;
  width: 15%;
  radius: 8px;
  border: 2px;
  border-color: @acc;
  border-radius: 8;
  background-color: @bg1;
}

mainbox, listview, element, textbox, scrollbar {
  background-color: transparent;
  border-radius: 0;
}

inputbar {
  background-color: @bg1; /* solid search field */
  border: 1px;
  border-color: @acc;
  padding: 6px 10px;
  border-radius: 0;
}

prompt {
  text-color: @fg;
  font: "JetBrainsMono Nerd Font Bold 13";
}

entry {
  expand: true;
  placeholder: "  Search apps…";
  text-color: @fg;
  background-color: transparent;
}

listview {
  lines: 12;
  spacing: 6px;
  padding: 5px 10px;
}

element {
  padding: 6px 10px;
  text-color: @acc;
}

element-text {
    text-color: @acc;
    font: "JetBrainsMono Nerd Font 13";
  }

element selected {
  background-color: transparent;
  text-color: @higl;
  border: 2px;
  border-color: @higl;
  border-radius: 5px;
  background-color: @sel; /* SC warning orange */
  padding: 2px 4px;
}

element-icon { size: 30px; }

