@define-color window_bg_color #000000;
@define-color accent_bg_color #333333;
@define-color theme_fg_color #ffffff;

* {
  all: unset;
}

.box-wrapper {
  background: @window_bg_color;
  padding: 10px;
  border: 1px solid @accent_bg_color;
}

.input {
  background: @accent_bg_color;
  color: @theme_fg_color;
  padding: 8px;
}

.item-box {
  padding: 8px;
}

child:selected .item-box {
  background: @accent_bg_color;
}

